﻿/*
Description:
		1 - Including files ("fonts.css", "reset.css" and others)
		2 - Tags styles and General styles
		3 - header
		4 - .content
		5 - footer
		* - @media rules
*/

/* 1 - BEGIN of Including files ("fonts.css", "reset.css" and others) ---------------------------------------------------------- */

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto/Roboto-Regular.eot');
    src: url('fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
        url('fonts/Roboto/Roboto-Regular.woff') format('woff'),
        url('fonts/Roboto/Roboto-Regular.ttf') format('truetype'),
        url('fonts/Roboto/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto/Roboto-Bold.eot');
    src: url('fonts/Roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Roboto/Roboto-Bold.woff2') format('woff2'),
        url('fonts/Roboto/Roboto-Bold.woff') format('woff'),
        url('fonts/Roboto/Roboto-Bold.ttf') format('truetype'),
        url('fonts/Roboto/Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('fonts/OpenSans/OpenSans-Regular.eot');
    src: url('fonts/OpenSans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/OpenSans/OpenSans-Regular.woff2') format('woff2'),
        url('fonts/OpenSans/OpenSans-Regular.woff') format('woff'),
        url('fonts/OpenSans/OpenSans-Regular.ttf') format('truetype'),
        url('fonts/OpenSans/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('fonts/OpenSans/OpenSans-Bold.eot');
    src: url('fonts/OpenSans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/OpenSans/OpenSans-Bold.woff2') format('woff2'),
        url('fonts/OpenSans/OpenSans-Bold.woff') format('woff'),
        url('fonts/OpenSans/OpenSans-Bold.ttf') format('truetype'),
        url('fonts/OpenSans/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon/icomoon.eot?tj5zk3');
  src:  url('fonts/icomoon/icomoon.eot?tj5zk3#iefix') format('embedded-opentype'),
    url('fonts/icomoon/icomoon.ttf?tj5zk3') format('truetype'),
    url('fonts/icomoon/icomoon.woff?tj5zk3') format('woff'),
    url('fonts/icomoon/icomoon.svg?tj5zk3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cart:before {
  content: "\e900";
}
.icon-close:before {
  content: "\e901";
}
.icon-dessert:before {
  content: "\e902";
}
.icon-dobavki:before {
  content: "\e903";
}
.icon-drink:before {
  content: "\e904";
}
.icon-flamp:before {
  content: "\e905";
}
.icon-insta:before {
  content: "\e906";
}
.icon-italian-sauce:before {
  content: "\e907";
}
.icon-medal:before {
  content: "\e908";
}
.icon-novelties:before {
  content: "\e909";
}
.icon-phone:before {
  content: "\e90a";
}
.icon-rolls:before {
  content: "\e90b";
}
.icon-rubl:before {
  content: "\e90c";
}
.icon-sashimi:before {
  content: "\e90d";
}
.icon-sets:before {
  content: "\e90e";
}
.icon-sticker:before {
  content: "\e90f";
}
.icon-sush-2:before {
  content: "\e910";
}
.icon-sushi:before {
  content: "\e911";
}
.icon-sushi-3:before {
  content: "\e912";
}
.icon-sushi-4:before {
  content: "\e913";
}
.icon-sushi-5:before {
  content: "\e914";
}
.icon-sushi-6:before {
  content: "\e915";
}
.icon-tempura:before {
  content: "\e916";
}
.icon-vk:before {
  content: "\e917";
}


/* BEGIN of CSS RESET */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block;
}

/* END of CSS RESET */

/* 1 - END of Including files ("fonts.css", "reset.css" and others) ---------------------------------------------------------- */
/* 2 - BEGIN of Tags and General styles ---------------------------------------------------------- */

body {
	min-height: 500px;
	margin: 0 auto;
	font-family: 'OpenSans', sans-serif;
	font-weight: normal;
	color: #2c2f32;
}

h1 {
	font-size: 25px;
	font-weight: bold;
}

h2 {
	font-size: 22px;
	font-weight: bold;
	text-transform: uppercase;
	color: #8e8e8e;
}

h3 {
	font-size: 18px;
	font-weight: bold;
}

h4 {
	font-size: 16px;
	font-weight: bold;
}

h5 {
	font-size: 14px;
}

h6 {
	font-size: 12px;
	color: #FF5A00;
}

a {
	color: #2c2f32;
	text-decoration: none;
	outline: none;
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

a:hover {
	opacity: 0.7;
	text-decoration: none;
	color: inherit;
	outline: none;
}

a:active {
	opacity: 0.6;
	outline: none;
	color: inherit;
	text-decoration: none;
}

a:focus {
	outline: none;
	color: inherit;
	text-decoration: none;
}

p {
	font-size: 14px;
}

button, input, textarea, select {
	-webkit-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

button:hover, input:hover, textarea:hover, select:hover {
	opacity: 0.8;
}

strong {
	font-weight: 700;
}

em {
	font-style:italic;
}

img {
	max-width: 100%;
}

.clear:before, .clear:after {
	content: "";
	display: block;
	clear: both;
}

.hide, .hidden {
	display: none;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

/* 2 - END of Tags styles and General styles ---------------------------------------------------------- */


/* 3 - BEGIN of header ---------------------------------------------------------- */
.wrapper {
    position: relative;
    padding: 75px 0 60px;
    max-width: 320px;
    margin: 0 auto;
}

header {
    position: fixed;
    width: 320px;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 0;
    background: #fff;
    z-index: 10;
    -webkit-transform: translateZ(0);
}

.container {
	width: 280px;
	padding: 0 20px;
	margin: 0 auto;
}

.header-wrapper {
    position: relative;
    padding: 15px 0 8px 0;
    border-bottom: 1px solid #D5D5D5;
}

.justify-align {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.logo img {
	width: 47px;
}

.header-tel {

}

.header-tel a {
    display: block;
    font-size: 20px;
    font-weight: bold;
    line-height: 14px;
}

.header-tel span {
	font-size: 12px;
}

.burger-menu {
    display: block;
    margin: 0;
    padding: 0;
    width: 28px;
    outline: none;
    border: none;
    background: transparent;
}

.burger-menu:focus {
	outline: none;
}

.burger-menu span {
    position: relative;
    width: 100%;
    display: block;
    height: 2px;
    margin: 0 auto 7px;
    background: #969696;
    transition: all 500ms ease-in-out;
}

.header-phone {
	display: inline-block;
	font-size: 28px;
	color: #919191;
}

.burger-menu>span:last-child {
	margin-bottom: 0;
}

.burger-menu.active span:nth-of-type(1) {
    top: 10px;
    transform: rotate(45deg);
}

.burger-menu.active span:nth-of-type(2) {
	background-color: transparent;
}

.burger-menu.active span:nth-of-type(3) {
	top: -8px;
	transform: rotate(-45deg);
}

.main-menu {
    display: none;
    position: absolute;
    top: 75px;
    left: 0;
    right: 0;
    background: #fff;
}

.main-menu ul {
	list-style: none;
}

.main-menu ul li {
	border-bottom: 1px solid #D5D5D5;
}

.main-menu li a {
	position: relative;
    display: block;
    padding: 14px 20px 14px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.main-menu li a::after, .sushi-menu li::after {
    content: '';
    position: absolute;
    right: 20px;
    top: 15px;
    width: 12px;
    height: 20px;
    background: url(img/pagination-next.png);
}

.main-menu li.active a, .main-menu a:hover {
	background: #ECECEC;
	opacity: 1;
}

.header-title {
	padding: 10px 0;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	border-bottom: 1px solid #D5D5D5;
}

.color-orange {
	color: #df5a15;
}
/* 3 - END of header ---------------------------------------------------------- */
/* 4 - BEGIN of .content ---------------------------------------------------------- */

.content {
    position: relative;
    min-height: 200px;
    margin: 0 auto;
}

.sushi-menu {
	list-style: none;
}

.sushi-menu li {
	position: relative;
	padding: 0 20px;
	display: block;
	border-bottom: 1px solid #D5D5D5;
}

.sushi-menu li:last-child {
	border-bottom: none;
}

.sushi-menu li.active, .sushi-menu li:hover {
	background: #ECECEC;
}

.sushi-menu li .main-menu__icon {
	display: inline-block;
	width: 80px;
	vertical-align: middle;
}

.sushi-menu li .main-menu__icon i {
	font-size: 40px;
	color: #999999;
}

.sushi-menu li a {
    position: relative;
    display: inline-block;
    width: 130px;
    padding: 14px 20px 14px 0;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.sushi-menu li a:hover {
	opacity: 1;
}

.icon-tempura__img {
	position: relative;
	width: 50px;
	height: 50px;
	display: inline-block;
	vertical-align: bottom;
}

.icon-tempura__img::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 40px;
	height: 40px;
	background: url(img/tempura.svg) no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}

.product {
    margin: 18px 0 0;
}

.product-item {
	padding: 0 0 20px;
	margin: 0 0 25px;
	border-bottom: 1px solid #D5D5D5;
}

.product-item img {

}

.product-item__text {
	padding: 0 20px;
}

.product-item h3 {
    margin: 12px 0 4px;
}

.product-item__info {
    margin: 0 0 12px;
}

.product-item__info > * {
	display: inline-block;
	vertical-align: middle;
}

.product-item__price {
    padding: 0 32px 0 0;
    font-size: 18px;
}

.icon-rubl {
    position: relative;
    top: -1px;
    font-size: 13px;
}

.product-item__weight {
	font-size: 14px;
	color: #8d8d8d;
}

.btn.btn-transparent {
	display: block;
	max-width: 170px;
	background-color: transparent;
	color: #8e8e8e;
	border-color: #8e8e8e;
	box-shadow: none;
}

.btn.btn-transparent:hover, .btn.btn-transparent:focus {
	color: #8e8e8e;
}

.btn {
	display: inline-block;
	min-width: 164px;
	height: 43px;
	line-height: 43px;
	text-align: center;
	border: 1px solid transparent;
	outline: none;
	background: #ff5a00;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	border-radius: 30px;
	-webkit-box-shadow: 0px 3px 15px 2px rgba(255,90,0,0.5);
	-moz-box-shadow: 0px 3px 15px 2px rgba(255,90,0,0.5);
	box-shadow: 0px 3px 15px 2px rgba(255,90,0,0.5);
}

.btn.active, .btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn:hover, .btn:focus {
    color: #fff;
    outline: none !important;
}

.btn-orange__transparent {
	color: #ff5a00;
	border-color: #ff5a00;
	background: transparent;
	box-shadow: none;
}

.btn-orange__transparent:focus {
	color: #ff5a00;
}

.btn-orange__transparent:hover {
	background: #ff5a00;
	color: #fff;
	-webkit-box-shadow: 0px 3px 15px 2px rgba(255,90,0,0.5);
	-moz-box-shadow: 0px 3px 15px 2px rgba(255,90,0,0.5);
	box-shadow: 0px 3px 15px 2px rgba(255,90,0,0.5);
}

.product-item p {
    margin: 10px 0 0;
}

.color-gray {
	color: #8d8d8d;
}

.plus-minus {
	max-width: 120px;
}

.plus-minus button {
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	outline: none;
	border: 1px solid #8E8E8E;
	background-color: transparent;
	border-radius: 50%;
}

.plus-minus button span {
	display: inline-block;
	line-height: normal;
	font-size: 22px;
	color: #8e8e8e;
	font-weight: bold;
	font-family: "Roboto";
}

.plus-minus button:hover {
	opacity: 1;
	border-color: #ff5a00;
}

.plus-minus button:hover span {
	color: #ff5a00;
}

.plus-minus input {
	display: inline-block;
	max-width: 35px;
	text-align: center;
	border: none;
	background-color: transparent;
	font-size: 22px;
	color: #8e8e8e;
	font-weight: bold;
	font-family: "Roboto";
	outline: none;
}

section h1 {
    margin: 0 0 20px;
    font-size: 18px;
}

.news {
    padding: 18px 20px 0;
}

.news-item {
    margin: 0 0 23px;
    border-bottom: 1px solid #D5D5D5;
}

.read-more__show {
	display: none;
}

.news-item img {
    display: block;
    margin: 0 auto 18px;
}

.news-item h3 {
    margin: 0 0 11px;
    font-size: 16px;
}

.news-item__date {
    margin: 0 0 10px;
    display: block;
    font-size: 12px;
    color: #8d8d8d;
}

.news-item p {
    margin: 0 0 16px;
    line-height: 17px;
}

.read-more {
    display: inline-block;
    margin: 0 0 20px;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 2px solid #B5B6B8;
}

.blockquote-border {
    margin: 20px 0 20px;
    padding: 20px 20px;
    border: 1px solid #D5D5D5;
}

.blockquote-border p {
    margin-bottom: 8px;
}

.blockquote-border__author {
    display: block;
    font-size: 14px;
    text-align: right;
    color: #8d8d8d;
}

.blockquote-info {
    padding: 20px 0 0;
    margin: 20px auto 0;
    border-top: 2px solid #D5D5D5;
}

.news-img__box {
	margin: 20px 0 20px;
	--ms-align-items: flex-start;
	align-items: flex-start;
}

.news-img__box img {
	margin: 0;
}

.marker-list, .nubers-list {
	margin-bottom: 20px;
	list-style: none;
}

.marker-list li, .nubers-list li {
    position: relative;
    padding: 0 0 0 13px;
    font-size: 14px;
    margin-bottom: 5px;
}

.marker-list li::before {
	content: '';
	position: absolute;
	left: 0;
	top: 6px;
	width: 6px;
	height: 6px;
	background: #ff5a00;
	border-radius: 50%;
}

.nubers-list {
    counter-reset: num;
}
 
.nubers-list > li::before {
    content: counter(num) '. ';
    position: absolute;
    left: 0;
    top: 0;
    counter-increment: num;
    font-size: 14px;
}

.pagination-list {
    margin: 20px 0 25px;
    list-style: none;
    text-align: center;
}

.pagination-list li {
	display: inline-block;
	padding: 0 2px;
	vertical-align: middle;
}

.pagination-list li a {
	display: block;
	width: 32px;
	height: 32px;
	line-height: 32px;
	border: 1px solid #999999;
	font-size: 16px;
	color: #8E8E8E;
	border-radius: 50%;
}

.pagination-list li a img {
    position: relative;
    top: -1px;
    display: inline-block;
    vertical-align: middle;
}

.pagination-list li.active a {
	border-color: #272B2E;
	color: #272B2E;
}

.pagination-list li > span {
    position: relative;
    top: -5px;
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
}

.cart-box {
    margin: 25px 0 0;
    max-width: 776px;
}

.cart-box__item {
    margin-bottom: 25px;
}

.cart-box__item li {
	padding: 0 0 8px;
	margin: 0 0 8px;
	border-bottom: 1px solid #D5D5D5;
}

.cart-box__item li:last-child {
	border-bottom: none;
}

.cart-box h2 {
    margin: 0 0 20px;
    font-size: 18px;
    color: #2c2f32;
    text-transform: none;
}

.cart-box h2 + h6 {
    position: relative;
    top: -17px;
}

.cart-box__img {
	width: 80px;
}

.cart-box__info {
    position: relative;
    top: -4px;
    width: 200px;
    min-height: 60px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    --webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
}

.cart-box .cart-box__item:last-of-type .cart-box__info::after {
	display: none;
}

strong.cart-title {
    font-size: 12px;
}

strong.cart-box__price {
	font-size: 14px;
}

.cart-box__clear {
	display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    outline: none;
    border: 1px solid #8E8E8E;
    background-color: transparent;
    border-radius: 50%;
}

.cart-box__clear .icon-close {
    position: relative;
    top: -1px;
    font-size: 10px;
}

.cart-box__clear:hover {
	border-color: #ff5a00;
	opacity: 1;
}

.cart-box__clear:hover span {
	color: #ff5a00;
}

.cart-box .icon-rubl {
	font-size: 10px;
}

.cart-box .plus-minus {
	width: 82px;
}

.cart-box .plus-minus button {
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 26px;
    outline: none;
    border: 1px solid #8E8E8E;
    background-color: transparent;
    border-radius: 50%;
}

.cart-box .plus-minus button span {
    font-size: 14px;
}

.plus-minus input {
    font-size: 14px;
    max-width: 20px;
}

.cart-box__total {
	padding: 15px 0 0;
	text-align: center;
	border-top: 1px solid #D5D5D5;
}

.cart-box__total strong {
	font-size: 16px;
}

.cart-box__item + .cart-box__total {
    position: relative;
    top: -25px;
}

.delivery-box {
	padding: 0 20px;
}

.delivery-box h2 {
    padding: 0 0 15px;
    margin: 0 0 15px;
    font-size: 18px;
    color: #2c2f32;
    text-transform: none;
    border-bottom: 2px solid #FF5A00;
}

.delivery-form__item {
    margin: 0 0 20px;
}

.delivery-form__item label {
    position: relative;
    display: block;
    margin: 0 0 -3px;
    font-size: 15px;
    font-weight: bold;
    z-index: 1;
}

.delivery-form__item label .color-orange {
    display: inline-block;
    vertical-align: sub;
}

.delivery-form__item input {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    color: #000;
    border: none;
    border-bottom: 1px solid #D4D4D4;
    outline: none;
}

.delivery-form__item input.error {
	color: #fe0000;
	border-color: #fe0000;
}

.valid-input {
	position: relative;
}

.valid-input::before {
	content: '';
	position: absolute;
	right: 0;
	bottom: 10px;
	width: 19px;
	height: 14px;
	background: url(img/valid-ic.png);
}

.delivery-form__item textarea {
    width: 100%;
    height: 126px;
    padding: 12px 0 0;
    border: none;
    border-bottom: 1px solid #D4D4D4;
    outline: none;
    resize: none;
}

.delivery-form .btn {
    display: block;
    margin: 5px auto 30px;
    width: 215px;
}

*::-webkit-input-placeholder {
	font-size: 16px;
	color: #8d8d8d;
	text-indent: 0;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

*:-moz-placeholder {
	font-size: 16px;
	color: #8d8d8d;
	text-indent: 0;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

*::-moz-placeholder {
	font-size: 16px;
	color: #8d8d8d;
	text-indent: 0;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

*:-ms-input-placeholder {
	font-size: 16px;
	color: #8d8d8d;
	text-indent: 0;
	-webkit-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

*:focus::-webkit-input-placeholder {
	color: #1b2030;
	text-indent: 620px;
	opacity: 0;
}

*:focus::-moz-placeholder {
	color: #1b2030;
	text-indent: 620px;
	opacity: 0;
}

*:focus:-moz-placeholder {
	color: #1b2030;
	text-indent: 620px;
	opacity: 0;
}

*:focus:-ms-input-placeholder {
	color: #1b2030;
	text-indent: 620px;
	opacity: 0;
}

textarea:focus::-webkit-input-placeholder {
	text-indent: 0;
}

textarea:focus::-moz-placeholder {
	text-indent: 0;
}

textarea:focus:-moz-placeholder {
	text-indent: 0;
}

textarea:focus:-ms-input-placeholder {
	text-indent: 0;
}

.delivery-show__more {
	display: none;
}

.delivery-box__info {
	margin: 0 0 20px;
}

.delivery-box__info p {
	color: #8d8d8d;
}

.delivery-box__info p a {
	font-weight: bold;
	border-bottom: 1px solid;
	color: #8d8d8d;
}

.delivery-form h3 {
	margin-bottom: 10px;
}

.delivery-form .justify-align {
	--ms-align-items: flex-start;
	align-items: flex-start;
}

.delivery-form .justify-align .delivery-form__item {
	width: 124px;
}

.delivery-form__payment {
	padding-bottom: 20px;
}

.radio-list {
    margin: 11px 0 0;
    list-style: none;
}

.radio-list li {
    display: inline-block;
    margin: 0 20px 0 0;
}

.radio-list li:last-child {
	margin: 0;
}

.radio-list [type="radio"]:checked,
.radio-list [type="radio"]:not(:checked) {
	position: absolute;
	left: -9999px;
}

.radio-list [type="radio"]:checked + label, .radio-list [type="radio"]:not(:checked) + label {
	position: relative;
	margin: 0;
	padding: 0 0 0 25px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.radio-list [type="radio"]:checked + label:before, .radio-list [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 19px;
    height: 19px;
    border: 1px solid #919191;
    border-radius: 100%;
    background: #fff;
}

.radio-list [type="radio"]:checked + label:before {
	border-color: #ff5a00;
}

.radio-list [type="radio"]:checked + label:after, .radio-list [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 9px;
    height: 9px;
    background: #ff5a00;
    position: absolute;
    top: 6px;
    left: 6px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.radio-list [type="radio"]:not(:checked) + label:after {
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}

.radio-list [type="radio"]:checked + label:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.window-cart {
	padding: 40px 0 0;
	text-align: center;
}

.window-cart .logo img {
	width: 122px;
}

.window-cart h2 {
    margin: 30px 0 5px;
    font-size: 18px;
    color: #2c2f32;
}

.window-cart h5 {
	margin-bottom: 20px;
}

.window-cart .btn {

}


/* 4.1 - END of .content ---------------------------------------------------------- */

/* 5 - BEGIN of footer ---------------------------------------------------------- */

footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 320px;
    margin: 0 auto;
    background: #fff;
    box-sizing: border-box;
    z-index: 10;
    box-shadow: 0 -5px 10px -3px rgba(204,204,204,0.4);
}

footer .justify-align {
	height: 60px;
	justify-content: space-around;
}

.sushi-menu__btn {
    position: relative;
    display: inline-block;
    top: 2px;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
}

.sushi-menu__btn i {
	font-size: 20px;
	color: #9B9B9B;
}

.sushi-menu__btn strong {
	display: block;
}

.cart {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	--ms-align-items: center;
	align-items: center;
	justify-content: center;
}

.icon-cart {
    position: relative;
    display: inline-block;
    font-size: 20px;
    vertical-align: middle;
    color: #9B9B9B;
}

.icon-cart > span {
	position: absolute;
	right: -3px;
	top: -3px;
	width: 13px;
	height: 13px;
	line-height: 13px;
	font-size: 8px;
	color: #fff;
	font-weight: bold;
	font-family: "Roboto";
	text-align: center;
	background: #FF5A00;
	border-radius: 50%;
}

.cart-top a {
	color: #272b2e;
}

.cart-top a > span {
    padding: 0 0 0 5px;
    font-size: 20px;
    vertical-align: middle;
}

.cart-price {
    font-size: 18px;
}

.cart-price .icon-rubl {
    position: relative;
    top: -2px;
    font-size: 12px;
}
/* 5 - END of footer ---------------------------------------------------------- */


